{% load static %}
{% load crispy_forms_tags %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="This is the home page description">
    <meta name="author" content="names of the site owners and important people in the organization">
    <title>Add Items</title>

    <!-- Bootstrap core CSS -->
<link href="{% static 'css/styles.css' %}" rel="stylesheet" />
<link href="{% static 'vendors/css/bootstrap.min.css' %}" rel="stylesheet" />
<link href="{% static 'vendors/js/jquery-3.4.1.slim.min.js' %}" rel="stylesheet" defer/>
<link href="{% static 'vendors/js/bootstrap.bundle.min.js' %}" rel="stylesheet" defer/>
    <!-- Favicons -->
{% comment %} <link rel="apple-touch-icon" href="/docs/4.4/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
<link rel="icon" href="/docs/4.4/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
<link rel="icon" href="/docs/4.4/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
<link rel="manifest" href="/docs/4.4/assets/img/favicons/manifest.json">
<link rel="mask-icon" href="/docs/4.4/assets/img/favicons/safari-pinned-tab.svg" color="#563d7c">
<link rel="icon" href="/docs/4.4/assets/img/favicons/favicon.ico">
<meta name="msapplication-config" content="/docs/4.4/assets/img/favicons/browserconfig.xml">
<meta name="theme-color" content="#563d7c"> {% endcomment %}


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    body {
        min-height: 75rem;
        padding-top: 5.5rem;
      }
    </style>
    <!-- Custom styles for this template -->
<link href="{% static 'vendors/css/navbar-top-fixed.css' %}" rel="stylesheet" />
  </head>
  <body>
    {% include 'navbar.html' %}

<main role="main" class="container">
  <div class="jumbotron">
    <h1>{{title}}</h1>
    <form action="" method="POST">
      {% csrf_token %} 
      {{ form|crispy }}
      <input class="btn btn-lg btn-primary"type="submit" value="Save" />
    </form>
    </div>
</main>
</html>
